<h1>Parcel Calculator</h1>

<form action='output'>
  <div class="form-group">
    <label for='width'>Enter the width in inches</label>
    <input id='width' name='width' class='form-control' type='text'>
  </div>
  <div class="form-group">
    <label for='height'>Enter the height in inches</label>
    <input id='height' name='height' class='form-control' type='text'>
  </div>
  <div class="form-group">
    <label for='length'>Enter the length in inches</label>
    <input id='length' name='length' class='form-control' type='text'>
  </div>
  <div class="form-group">
    <label for='weight'>Enter the weight in ounces</label>
    <input id='weight' name='weight' class='form-control' type='text'>
  </div>
  <div class="form-group">
    <label for='rush'>Do you need Rushed Delivery?</label>
    <select class="form-control" name='rush' id="rush">
    <option>Select</option>
    <option>Rush</option>
    <option>Standard</option>
    </select>
  </div>
  <div class="form-group">
    <label for='location'>Is this going Out of the country?</label>
    <select class="form-control" name='location' id="location">
    <option>Select</option>
    <option>International</option>
    <option>Domestic</option>
    </select>
  </div>

  <button type='submit' class='btn'>Go!</button>
</form>
